<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sn-AI-l</title>
</head>

<body>
<h1>Welcome to sn_AI_l!</h1>
<header class="navbar">
  <a href = 'https://medium.com/team-snail'>
  <img src="{{url_for('static', filename='logo.png')}}" width=100 heigh=100 >
  </a>
  </br>
  <a href = 'https://github.com/snAIl-ML'>
  <img src="{{url_for('static', filename='octocat.png')}}" width=100 heigh=100 >
  </a>
  <a href='/ai'>
  <img src="{{url_for('static', filename='ai.jpg')}}" width=100 heigh=100 >
  </a>
  <a href='/rc'>
  <img src="{{url_for('static', filename='rc.png')}}" width=100 heigh=100 >
  </a>
</header>
</body>
</html>
