<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sn-AI-l image submission</title>
</head>

<body>
<h1>SNAIL</h1>
<header class="navbar">
  <span>
    <a href = 'https://medium.com/team-snail'>
      <img src="{{url_for('static', filename='logo.png')}}" width=100 heigh=100 >
    </a>
    <a href = 'https://github.com/snAIl-ML'>
      <img src="{{url_for('static', filename='octocat.png')}}" width=100 heigh=100 >
    </a>
  </span>
</header>
<form class="" action="/set_ip_address" method="get">
  <label for="ip">Enter IP address of raspberry pi</label>
  <input type="text" name="ip" value="">
  <br>
  <label for="ip">Enter IP address of host machine</label>
  <input type="text" name="host_ip" value="">
  <br>
  <input type="submit" name="submit" value="Submit and go to RC mode">
</form>
</body>
</html>
