<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sn-AI-l image submission</title>
</head>

<body>
<header class="navbar">
<a href = 'https://medium.com/team-snail'>
<img class='logo' src='/logo/logo1.pdf' alt='T' width=40 heigh=40 >
  <form action="/upload" method="post" enctype="multipart/form-data" >
      <span>
        Browse <input type="file" name="image">
      </span>
    <input type="submit" value="Upload your image" class="btn btn-primary">
  </form>
</header>
</body>
</html>
