<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sn-AI-l image submission</title>
</head>

<body>
<h1>You are in the url designated to left, right and forward buttons!</h1>
<header class="navbar">
  <a href='/'>
  <img src="{{url_for('static', filename='left.png')}}" width=80 heigh=80 >
  </a>
  <a href='/'>
  <img src="{{url_for('static', filename='forward.png')}}" width=80 heigh=80 >
  </a>
  <a href='/'>
  <img src="{{url_for('static', filename='right.png')}}" width=80 heigh=80 >
  </a>
</header>
</body>
</html>
