<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sn-AI-l remote control</title>
  <link rel="stylesheet" href="/css/style_rc.css">
</head>

<body style="background-color: #282c34; text-align: center;">
  <img style="margin-top: 50px;" src="{{url_for('static', filename='logo.png')}}" width=200 heigh=200 </h1>
  <div style="margin: 50px;">
    <img src={{image_url}} style="border: 5px solid white;"></img>
  </div>
  </div>
    <a href='/route_left'>
      <img src="{{url_for('static', filename='left.png')}}" width=80 heigh=80 >
    </a>
    <a href='/route_forward'>
      <img src="{{url_for('static', filename='forward.png')}}" width=80 heigh=80 >
    </a>
    <a href='/route_right'>
      <img src="{{url_for('static', filename='right.png')}}" width=80 heigh=80 >
    </a>
  </div>
  <div style="margin: 50px;">
    <a href='/ai_move'>
      <img src="{{url_for('static', filename='robohead.png')}}" width=80 heigh=80 >
    </a>
  </div>
</body>
</html>
